.defaultButton{
    width: 80px;
    height: auto;
    background: var(--mainGreen);
    color: var(--mainBodyColor);
    border-radius: 30px;
    border: 1px solid var(--mainBodyColor);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
}

.defaultButton:hover{
    color: var(--mainGreen);
    background: var(--mainBodyColor);
    border: 1px solid var(--mainGreen);
}

a > .downloadButton{
    text-decoration: none;
}
.downloadButton{
    background-color: var(--mainGreen);
    width: 150px;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto

}



.downloadIcon{
    color: var(--mainBodyColor)
}



.downloadButton > h4 {
    margin-left: 5px;
    text-decoration: none;
    color: var(--mainBodyColor);
    font-size: 1.2rem
}


.formButtonStyling{
    padding: 10px;
    min-width: 150px;
    width: auto;
    font-size: 1.3rem;
    background-color: var(--mainGreen);
    outline: 0;
    border: 1px solid var(--mainGreen);
    margin-top: 10px;
    border-radius: 30px;
    color: var(--mainBodyColor);
    cursor: pointer ;


}

.formButtonStyling:hover{
    color: var(--mainGreen);
    background-color: var(--mainBodyColor);
}

.formButtonStylingDeactive{
    padding: 10px;
    min-width: 150px;
    width: auto;
    font-size: 1.3rem;
    background-color: var(--mainGray);
    opacity: 0.5;
    color: var(--mainBodyColor);
    border: 1px solid var(--mainGray);
    margin-top: 10px;
    border-radius: 30px;
    cursor: not-allowed;
}

@media screen and (min-width: 768px){

    .defaultButton{
        width: 100px;
        padding: 20px 30px;
        font-size: 1.5rem;
    }


}