.contactSection{
    display: flex;
    flex-direction: column
    
}

.paragraph{
    padding: 40px
}
.formWrapper{
    display: flex;
    min-height: 60vh;
    height: auto;
    width: 100%;
    margin: 0;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
   
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height:  500px;
    height: auto;
   
}

.inputField{
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px ;
    display: block
}

.requestButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 150px;
    min-height: 50px;
    height: auto;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: auto;
    border-radius: 3px;
    transition: 1s


}

.requestButton:hover{
    background-color: white;
    color: black;

}

.socialMediaContact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px 0;
    min-height: 40vh
}

.socialIcon{
    filter: grayscale(100%) brightness(70%) contrast(2)
}

@media screen and (min-width: 650px){

    .contactSection{
        flex-direction: row
    }
    .socialMediaContact, .formWrapper{
        width: 50%
    }
}

@media screen and (min-width: 900px){

    .paragraph{
        padding: 0 80px
    }
}
