.sectionHeaderWrapper{
    width: 100%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.headerContent{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
}

.headerContent h1{
    font-size: 3rem
}

@media screen and(min-width: 480px){

    .headerContent{
        max-width: 40%;
    }
}