.mainPage{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


}

.homepageImage{
    width: 100%;

    animation-name: imgGrow;
    animation-timing-function: ease-out;
    animation-duration: 3s;

}

@keyframes imgGrow {
    0%{
        width: 0
    }

    100%{
        width: 100%
    }
}
.qrCode{
    width: 150px;
}
@media screen and (min-width: 780px) {
    img{
        max-width: 680px;
    }
}