.impressum{

    height: auto;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;

}

@media screen and (min-width: 850px) {
    .impressum{
        max-width: 50%
    }
}