.subNavigationSectionOpen{
    position: absolute;
    background: var(--mainGreen);
    z-index: 400;
    height: 100vh;

    animation-name: subNav;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes subNav {
    0%{
        width: 0;

    }

    100%{

        width: 100%;
    }
}
.subNavigationSectionClosed{
    display: none;
}


.subNavSectionInner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;


    animation-name: innerSection;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}

@keyframes innerSection {
    0%{
        width: 0;


    }


    100%{
        width: 80%;
    }
}



.mainSubNavigation{
    margin-bottom: 50px;

}

.subNavLegalNavigation{
}
.subNavItems{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;

}

.subNavLegalItem{
    font-size: 1.3rem;
    color: var(--mainGray);
    text-decoration: none;
    line-height: 200%;
    min-width: 200px;
}

.subNavItem{
    color: var(--mainGray);
    font-size: 3rem;
    text-decoration: none;
    line-height: 150%;
    min-width: 200px;
}

.subNavItemDemo {
    display: none;
}

.subNavCloseButton{
    position: absolute;
    bottom: 15%;
    right: 10%;
    z-index: 400;
}


@media screen and (min-width: 769px){

    .subNavSectionInner{
        width: 100%;
        max-width: 1200px;
    }
    .subNavCloseButton{
        top: 30px;
        right: 30%


    }

    .subNavItemDemo{
        display: block;
        color: var(--mainGray);
        font-size: 3rem;
        text-decoration: none;
        line-height: 150%;
    }
}

